@charset "UTF-8";
/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
/* Clases propias precedidas por o_ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #333416;
  background: linear-gradient(180deg, #333416 0%, #585843 50%, #69562b 100%);
  color: white;
  text-shadow: 2px 2px 4px black; }

h1 {
  display: none; }

nav .navbar {
  display: none; }

nav .nav-item a {
  font-size: 1.5em;
  margin: 0.5em;
  color: white !important; }

nav .navbar-brand {
  width: 30%;
  position: relative; }
  nav .navbar-brand img {
    width: 100%; }
  nav .navbar-brand span {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    font-family: "mouse memoirs";
    font-size: 3.5vw;
    font-weight: 600;
    line-height: 3.2vw;
    text-shadow: 0 0 0;
    animation: tioShadow 0.7s ease-in-out infinite alternate; }

@keyframes tioShadow {
  from {
    text-shadow: 0 0 1px yellow, 0 0 1px orange; }
  to {
    text-shadow: 0 0 10px yellow, 0 0 15px orange; } }

nav .navbar-toggler {
  width: 10vw;
  height: 10vh; }

nav .navbar-toggler-icon {
  background-size: 3rem; }

nav .dropdown-menu {
  background: #020100; }

nav .dropdown-item:hover {
  width: 90%;
  /* "solución" para evitar que se exceda del contenedor */
  background-color: #301d0a; }

nav .o_rsocial li a {
  text-decoration: none;
  font-size: 3rem;
  margin: 10px;
  transform: translate(0);
  transition: transform linear 0.2s; }
  nav .o_rsocial li a:hover {
    transform: translateY(-0.5rem); }

main .carousel-inner {
  height: 45rem; }

main .carousel-item {
  height: 100%; }

main .carousel-item img {
  height: 100%;
  object-fit: cover; }

main .o_main__cards {
  margin: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start; }
  main .o_main__cards div {
    position: relative;
    overflow: hidden; }
    main .o_main__cards div img {
      width: 20rem;
      height: 18rem;
      object-fit: cover;
      box-shadow: 10px 10px 9px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 9px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 9px 0px rgba(0, 0, 0, 0.75); }
    main .o_main__cards div div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.75);
      margin-left: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      main .o_main__cards div div span {
        padding: 2rem;
        font-size: 1.4rem;
        text-align: center; }
    main .o_main__cards div:hover div {
      margin-left: 0;
      transition: margin 0.2s linear; }

/* Footer */
footer .o_footer {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.5); }
  footer .o_footer h3 {
    font-size: 2rem; }
  footer .o_footer ul {
    list-style: square; }
  footer .o_footer a {
    font-size: 1.4rem;
    text-decoration: none;
    color: inherit; }

.o_autor {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .o_autor a {
    text-decoration: none;
    color: #999999; }

.o_nosotros {
  margin: 4%;
  margin-top: 0;
  color: white; }
  .o_nosotros h2 {
    font-size: 3rem; }
  .o_nosotros p {
    margin: 2rem;
    font-size: 1.6rem; }
  .o_nosotros img {
    width: 40%;
    max-height: 80vh;
    object-fit: cover;
    float: right;
    padding: 2%; }

.contacto {
  width: 65%;
  margin: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .contacto p {
    font-size: 1.4rem; }
  .contacto form {
    width: 100%;
    padding: 2rem; }
  .contacto form input,
  .contacto textarea {
    width: 100%;
    height: 3rem;
    border-radius: 1.5rem;
    margin: 0.5rem;
    border: 2px solid #2e2e20;
    box-shadow: 0.4rem 0.4rem 1rem #27271b; }
  .contacto form input,
  .contacto textarea,
  .contacto input::placeholder,
  .contacto textarea::placeholder {
    font-size: 1.6rem;
    padding-left: 1rem;
    vertical-align: middle; }
  .contacto form textarea {
    height: 10rem; }

.contacto__mapa iframe {
  width: 80vw; }

.o_delivery {
  margin: 2rem;
  color: white;
  text-shadow: 1px 1px #333333; }
  .o_delivery p {
    margin-bottom: 2rem; }
  .o_delivery:nth-child(2) {
    margin-top: 5rem; }
  .o_delivery iframe {
    margin: 0 4rem; }

.o_delivery_container {
  width: 100%;
  margin: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6rem; }
  .o_delivery_container a {
    width: 20%; }
    .o_delivery_container a img {
      width: 100%;
      height: 100%; }

.o_productos_hero {
  margin: 2rem;
  color: white; }

.o_productos {
  margin: 2rem;
  color: white; }
  .o_productos h2 {
    margin: 4rem 2rem 2rem; }

.o_productos_gallery {
  margin: 0 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; }

.o_productos__card {
  position: relative;
  height: 24rem;
  position: relative;
  overflow: hidden; }
  .o_productos__card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background: rgba(141, 141, 141, 0.15);
    transform-origin: 50%;
    transform: translate(-100%) rotate(-45deg);
    box-shadow: 0px 0px 50px 75px rgba(141, 141, 141, 0.15);
    animation: cardNeon 7s cubic-bezier(0.165, 0.84, 0.44, 1) infinite; }
  .o_productos__card img {
    width: 95%;
    height: 85%;
    border-radius: 1rem;
    object-fit: cover;
    box-shadow: 1em 1em 1em #333333;
    transition: transform 0.1s linear; }
    .o_productos__card img:hover {
      transform: scale(1.07);
      transition: all 4s cubic-bezier(0, 0.2, 0, 1); }
  .o_productos__card h3 {
    position: absolute;
    bottom: 0;
    left: 2rem;
    font-size: 1.4em; }

@keyframes cardNeon {
  60% {
    transform-origin: 50%;
    transform: translate(-100%) rotate(-45deg); }
  100% {
    transform-origin: 50%;
    transform: translate(100%, 2000%) rotate(-45deg); } }

@media screen and (max-width: 1100px) {
  main .o_main__cards {
    margin: 2rem; }
  nav .navbar-brand span {
    font-size: 2vw;
    line-height: 1.8vw; } }

@media screen and (max-width: 990px) {
  nav .o_rsocial {
    flex-direction: row; }
  nav .navbar-brand span {
    font-size: 5vw;
    line-height: 4.5vw; }
  main .o_main__cards {
    margin: 1rem; }
    main .o_main__cards div img {
      width: 16rem;
      height: 14rem; } }

@media screen and (max-width: 900px) {
  html {
    font-size: 14px; } }

@media screen and (max-width: 800px) {
  html {
    font-size: 13px; }
  main .o_main__cards div img {
    width: 16rem;
    height: 20rem; }
  .contacto form,
  .contacto iframe {
    margin: 1rem; }
  .contacto form input {
    height: 3rem;
    border-radius: 1.5rem;
    margin: 0.5rem; }
  .contacto form input,
  textarea,
  input::placeholder,
  textarea::placeholder {
    font-size: 1.6rem;
    padding: 0;
    padding-left: 1rem; } }

@media screen and (max-width: 700px) {
  html {
    font-size: 12px; } }

@media screen and (max-width: 600px) {
  main .carousel-inner {
    height: 36rem; }
  main .o_main__cards div img {
    width: 13rem;
    height: 16rem; }
  main .o_main__cards div div span {
    padding: 0;
    font-size: 1.2rem; }
  footer .o_footer {
    padding: 0; }
  .o_productos_gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; }
  .o_productos__card {
    height: 18rem; }
  .o_delivery_container {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start; }
  .contacto {
    margin: 2em; }
    .contacto form {
      padding: 0; }
  .contacto__mapa iframe {
    width: 85vw;
    height: 50vh; } }

@media screen and (max-width: 500px) {
  main .o_main__cards div img {
    width: 10rem;
    height: 12rem; }
  .o_nosotros p {
    margin: 0; }
  footer .o_footer {
    display: none; } }

@media screen and (max-width: 400px) {
  main .o_main__cards img {
    width: 8rem;
    height: 10rem; }
  .o_productos_gallery {
    grid-template-columns: 1fr; }
  .contacto__mapa iframe {
    height: 35vh; } }
