/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

/* Clases propias precedidas por o_ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(51, 52, 22);
    background: linear-gradient(180deg, rgba(51, 52, 22, 1) 0%, rgba(88, 88, 67, 1) 50%, rgba(105, 86, 43, 1) 100%);
    color:rgb(60,50,50);
}

h1 {
    display: none;
}

nav .nav-item a {
    font-size: 1.5em;
    margin: 0.5em;
    color: black !important; /* no me vas a ganar, bootstrap*/
    text-shadow: 1px 1px 4px white;
}

/* logo */
.navbar-brand{
    width: 20%;
    position: relative;
}

.navbar-brand img {
    width: 100%;
}

.navbar-brand span{
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
    color: black;
    text-align: center;
    font-family: "mouse memoirs";
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.8rem;
    text-shadow: 0 0 0;
    animation: tioShadow 0.7s ease-in-out infinite alternate;
}

@keyframes tioShadow {
    from{
        text-shadow: 0 0 1px yellow, 0 0 1px orange;
    }
    to{
        text-shadow: 0 0 5px yellow, 0 0 15px orange;
    }
}

nav .o_rsocial li a {
    text-decoration: none;
    font-size: 3rem;
    margin: 10px;
}

/* Carrusel hero */
main div:first-child {
    height: 100vh;
}

/* Tarjetas de fotos */
main .o_main__cards {
    width: 100%;
    height: 300px;
    margin: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    overflow: hidden;
}

main .o_main__cards img {
    height: 90%;
    object-fit: cover;
    box-shadow: 10px 10px 9px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 9px 0px rgba(0, 0, 0, 0.75);
}

/* Footer */
footer .o_footer{
    margin: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

footer .o_footer h3{
    font-size: 2em;
}

footer .o_footer ul{
    list-style:square;
}

footer .o_footer a{
    font-size: 1.4em;
    text-decoration: none;
    color: inherit;
}

/* ------ PÁGINAS SECUNDARIAS ------ */
/* Nosotros */
.o_nosotros{
    margin:2rem;
    color:white;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.o_nosotros div:first-child{
    padding:2rem 4rem;
}

.o_nosotros img{
    width: 50vh;
}

/* Productos */
.o_productos_hero{
    margin: 2rem;
    color:white;
}

.o_productos{
    margin: 2rem;
    color: white;
}

.o_productos_gallery{
    margin: 0 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 24rem;
    gap:2rem;
    align-items: baseline;
}

.o_productos__card{
    position: relative;
}

.o_productos__card img{
    width: 100%;
    object-fit: cover;
}

.o_productos__card h3{
    font-size: 1.4em;
}

/* ------ DELIVERY ------ */
.o_delivery{
    margin: 2rem;
    color:white;
    text-shadow: 1px 1px #333333;
}

.o_delivery_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
}

.o_delivery_container img{
    width: 30%;
    object-fit: contain;
}

/* ------ MEDIA QUERIES ------ */
@media screen and (max-width:900px) {
    html{
        font-size: 14px;
    }
}

@media screen and (max-width:800px) {
    html{
        font-size: 13px;
    }
}

@media screen and (max-width:700px) {
    html{
        font-size: 12px;
    }
}

@media screen and (max-width:600px) {
    html{
        font-size: 10px;
    }
}