.o_nosotros {
    margin: 2rem;
    margin-top: 0;
    color: white;

    h2 {
        font-size: 3rem;
    }

    p {
        margin: 2rem;
        font-size: 1.6rem;
    }

    img {
        float: right;
        height: 30rem;
        margin: 2rem;
    }
}