main {
    .carousel-inner {
        height: 45rem;
    }

    .carousel-item {
        height: 100%;
    }

    .carousel-item img {
        height: 100%;
        object-fit: cover;
    }

    // Tarjetas de fotos
    .o_main__cards {
        margin: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;

        div {
            position: relative;
            overflow: hidden;
            img {
                width: 20rem;
                height: 18rem;
                object-fit: cover;
                box-shadow: 10px 10px 9px 0px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 10px 10px 9px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 10px 10px 9px 0px rgba(0, 0, 0, 0.75);
            }

            // mosaico sobre la imagen
            div{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background:rgba(0, 0, 0, 0.75);
                margin-left: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                //span separado del div para poder centrar texto con flex
                span{ 
                    padding: 2rem;
                    font-size: 1.4rem;
                    text-align: center;
                }
            }
            &:hover div{
                margin-left: 0;
                transition: margin 0.2s linear;
            }
        }
    }
}