.o_nosotros {
    margin: 4%;
    margin-top: 0;
    color: white;

    h2 {
        font-size: 3rem;
    }

    p {
        margin: 2rem;
        font-size: 1.6rem;
    }

    img {
        width: 40%;
        max-height: 80vh;
        object-fit: cover;
        float: right;
        padding: 2%;
    }
}